<!DOCTYPE html>
{% load static %}
{% block content %}
    <html lang="en">
    <head>
        {% include 'blog/Head.html' %}
    </head>

    {% include 'blog/Navbar.html' %}

    <body>

    <br>
    <br>
    <br>


    {% include 'blog/Portfolio.html' %}

    <div class="container shadow-sm" style="padding-top: 10px">
        <div class="row rounded text-bg-dark">
            <div class="col-md-10 mx-auto">
                        <h1 class="display-4 fst-italic text-center">Projects</h1>
                        <p class="lead my-3 text-center">Projects made for programming studies or for college
                            assignments</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for project in project_list %}
                <div class="col-md-6 col-6 mt-3 center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">{{ project.title }}</h2>
                            <div><a class="d-inline-block mb-4 text-success" href="{{ project.github }}"><strong>{{ project.github }}</strong></a></div>
                            <div>{{ project.summary }}</div>
{#                            <button href="{% url 'portfolio:portfolio_detail' project.slug %}" class="btn ">Read More#}
{#                            </button>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
    {% include 'blog/Footer.html' %}
{% endblock %}