<!DOCTYPE html>
{% load static %}
<head>
    {% include 'blog/Head.html' %}
</head>

<body>
{% include 'blog/Navbar.html' %}
{% include 'blog/Header.html' %}
{% include 'blog/University.html' %}
{% include 'blog/Skills.html' %}
{% include 'blog/Portfolio.html' %}
{% include 'blog/Contact.html' %}
{% include 'blog/Footer.html' %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>