{% load static %}

<div>
    <section id="courses">
        <div class="container-fluid text-center text-white">
            <br>
            <h2 class="text-uppercase text-center">Skills</h2>
            <div class="row">
                <div class="col">
                    <p>Having knowledge and experience of computers, IT systems, and networks. Being able to code in multiple programming languages including JavaScript, Java, Python, and C+. Creating and managing databases using appropriate data management techniques and ability to set up, upgrade, maintain and manage IT networks.</p>
                    <p>Active listening, patience, open-mindedness, adaptability, problem-solving, critical thinking, creativity, accountability, confidence, time and project management, and self-taught.</p>
                    <p>I can speak English at an Intermediate level and Portuguese at a Native level.</p>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>
    