{% load static %}

<div>
    <section id="contact">
        <div class="container-fluid text-center text-white">
            <br>
            <h2 class="text-center text-white text-uppercase contact">Contacts</h2>
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-auto">
                            <img src="{% static 'blog/images/linkedin-contact.png' %}" class="icons-img" alt="linkedin"/>
                            <br>
                            <a class="contact-info" href="https://www.linkedin.com/in/brunacrespomello/">LinkedIn</a>
                        </div>
                        <div class="col-md-auto">
                            <img src="{% static 'blog/images/cv-contact.png' %}" class="icons-img" alt="cv"/>
                            <br>
                            <a class="contact-info" href="">CV</a>
                        </div>
                        <div class="col-md-auto">
                            <img src="{% static 'blog/images/git-contact.png' %}" class="icons-img" alt="git"/>
                            <br>
                            <a class="contact-info" href="https://github.com/BrunaMello">GitHub</a><br>
                        </div>
                    </div>
                </div>

                <p class="text-center text-white" id="textcontact">
                    <br>
                    <a class="contact-info" href="mailto:brunacrespomello@gmail.com?subject=Contato: Site">brunacrespomello@gmail.com</a>
                    <br>
                <p>(+353) 830 886 348</p>
                </p>
            </div>
        </div>
    </section>
</div>
