{% load static %}

<div>
    <section id="courses">
        <div class="container-fluid text-center text-white">
            <br>
            <h2 class="text-uppercase text-center">Courses</h2>
            <div class="row">
                <div class="col">
                    <h3 class="mb-0">Bachelor in Computer Science and Postgraduate in Database</h3>
                    <br/>
                    <p>I am looking for an opportunity to gain experience with
                        Software Development. I always try to work as a team, cooperating with everyone and
                        helping in the best way possible.
                        way possible, with great satisfaction in teaching and learning.</p>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>
    