<!DOCTYPE html>
{% load static %}
<head>
    {% include 'Django/Head.html' %}
</head>

<body>
{% include 'Django/Navbar.html' %}
{% include 'Django/Header.html' %}
{% include 'Django/University.html' %}
{% include 'Django/Courses.html' %}
{% include 'Django/Portfolio.html' %}
{% include 'Django/Contact.html' %}
{% include 'Django/Footer.html' %}
{% include 'Django/PortfolioJavaScript.html' %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>