{% load static %}

<div>
    <nav id="navbar" class="nav fixed-top">
        <div class="logo">
            <a href="#logo-section" id="logo">
                <h1>Bruna Mello</h1>
            </a>
        </div>
        <ul class="nav_list" id="navlinkitems">
            <li class="nav_item">
                <a href="#header" class="nav_link" id="home">Home</a>
            </li>
            <li class="nav_item">
                <a href="#university" class="nav_link" id="home">University</a>
            </li>
            <li class="nav_item">
                <a href="#couses" class="nav_link" id="home">Courses</a>
            </li>
            <li class="nav_item">
                <a href="#portfolio" class="nav_link" id="home">Portfolio</a>
            </li>
            <li class="nav_item">
                <a href="#contact" class="nav_link" id="home">Contact</a>
            </li>
            <li class="nav_item">
                <a href="/blog/blog/" class="nav_link" id="home">Blog</a>
            </li>
        </ul>
        <button class="nav-toggle">
            <span class="hamburger"></span>
        </button>
    </nav>
</div>
