{% load static %}
<section id="portfolio">
    <div>
        <div class="container container-fluid">
            <br>
            <h2 class="text-uppercase text-center">Portfolio</h2>
            <br>
        </div>
        <div class="container">
            <div class="cards">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/react-work.png' %}" alt="icons"/>
                            <p>React</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/python-work.png' %}" alt="icons"/>
                            <p>Python</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/android-work.png' %}" alt="icons"/>
                            <p>Android</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/apple-work.png' %}" alt="icons"/>
                            <p>Apple</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/java-work.png'%}" alt="icons"/>
                            <p>Java</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/others-work.png' %}" alt="icons"/>
                            <p>Others</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
