{% load static %}
<section id="portfolio">
    <div>
        <div class="container container-fluid">
            <br>
            <h2 class="text-uppercase text-center">Portfolio</h2>
            <br>
        </div>
        <div class="container">
            <div class="cards">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/react-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:JavaScriptPortfolio' %}" id="react">JavaScript</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/python-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:PythonPortfolio' %}" id="python">Python</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/android-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:AndroidPortfolio' %}" id="react">Android</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/apple-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:ApplePortfolio' %}" id="apple">Apple</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/java-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:JavaPortfolio' %}" id="java">Java</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="framework-card">
                            <img src="{% static 'blog/images/others-work.png' %}" alt="icons"/>
                            <p><a href="{% url 'portfolio:OtherPortfolio' %}" id="others">Others</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
