{% load static %}

<div>
    <section id="skill-section">
        <div class="container-fluid text-center text-white">
            <br>
            <h2 class="text-uppercase text-center about">Skills</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col ml-auto">
                    <h3 class="mb-0 no-hover">Bachelor in Computer Science and Postgraduate in Database</h3>
                    <br/>
                    <p class="lead" id="textintro">I am looking for an opportunity to gain experience with
                        Java, Python and SQL development. I always try to work as a team, cooperating with everyone and
                        helping in the best way possible.
                        way possible, with great satisfaction in teaching and learning.</p>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>
    