{% load static %}
<div>
    <section id="university">
        <div class="container-fluid text-center">
            <br>
            <h2 class="text-uppercase text-center">Bachelor in Computer Science and a Postgraduation in Database</h2>
            <br>
            <div class="row">
                <div class="col-sm">
                    <h3 class="mb-0">Bachelor of Science in Computer Science</h3>
                    <h5 class="mb-0">University of the People</h5>
                    <h5 class="mb-0">2018-2022</h5>
                    <br/>
                    <h3 class="mb-0">Postgraduate in Database</h3>
                    <h5 class="mb-0">Claretiano University</h5>
                    <h5 class="mb-0">2020-2021</h5>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>